system {
    host-name leaf01;
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    ntp {
        peer {{ntp_server}};
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 4;
        }
    }
}
interfaces {
    /* CUSTOMER Interfaces */
    {%- for INTERFACE in CUSTOMER_IFS %}
    {{INTERFACE}} {
        description {{CUSTOMER_IFS[INTERFACE]['description']}};
        {% if CUSTOMER_IFS[INTERFACE]['esi']%}esi {
            {{CUSTOMER_IFS[INTERFACE]['esi']}};
            all-active;
        }{% endif %}
        unit 0 {
            family ethernet-switching {
                interface-mode {{CUSTOMER_IFS[INTERFACE]['mode']}};
                vlan {
                    members [ {% for vlan in CUSTOMER_IFS[INTERFACE].vlanid %}bd{{vlan}} {% endfor %}]
                }
            }
        }
    }
    {%- endfor %}
    /* UPLINK to all Fabric Switches */
    {%- for UPLINK in UPLINKS %}
    {{ UPLINK }} {
        description "{{UPLINKS[UPLINK]['description']}}";
        mtu {{UPLINKS[UPLINK]['mtu']}};
        unit 0 {
            family inet {
                address {{UPLINKS[UPLINK]['ip']}};
            }
        }
    }
    {%- endfor %}
    lo0 {
        description "Loopback Interface";
        unit 0 {
            family inet {
                primary;
                address {{loopback}};
            }
        }
    }
    vme {
        description "management interface";
        unit 0 {
            family inet {
                address {{fxp0}};
            }
        }
    }
}
routing-options {
    graceful-restart;
    static {
        route 0.0.0.0/0 next-hop {{default_gateway}};
    }
    router-id {{loopback}};
    forwarding-table {
        export bgp-ecmp;
    }
}
protocols {
    bgp {
        log-updown;
        group UNDERLAY-EBGP-FAB {
            type external;
            import bgp-underlay-in;
            family inet {
                unicast;
            }
            export bgp-underlay-out;
            local-as {{asn_underlay}};
            graceful-restart;
            bfd-liveness-detection {
                minimum-interval 350;
                multiplier 3;
                session-mode single-hop;
            }
            multipath multiple-as;
            {%- for PEER in BGP_UNDERLAY_PEERS %}
            neighbor {{PEER}} { 
                peer-as {{BGP_UNDERLAY_PEERS[PEER]['asn']}};
                description "{{BGP_UNDERLAY_PEERS[PEER]['description']}}";
            }
            {%- endfor %}
        }
        group OVERLAY-iBGP {
            type internal;
            local-address {{loopback}};
            family inet-vpn {
                unicast;
            }
            family evpn {
                signaling;
            }
            cluster {{loopback}};
            local-as {{asn_overlay}};
            bfd-liveness-detection {
                minimum-interval 350;
                multiplier 3;
                session-mode automatic;
            }
            multipath;
            {%- for PEER in BGP_OVERLAY_PEERS %}
            neighbor {{PEER}} { 
                description "{{BGP_OVERLAY_PEERS[PEER]['description']}}";
            }
            {%- endfor %}
        }
    }
    evpn {
        vni-options {
        {%- for VNI in VNIS %}
            vni {{VNI}} { 
                vrf-target export {{VNIS[VNI]['target']}};
            }{% endfor %}
        }
        encapsulation vxlan;
        extended-vni-list [{%- for VNI in VNIS %} {{VNI}}{% endfor %}];
        multicast-mode ingress-replication;
    }
    lldp {
        interface all;
    }
}
policy-options {
    policy-statement LEAF-IN {
        term ESI_LEAF {
            from community commEsi;
            then accept;
        }
        {%- for TENANT in TENANTS %}term  {{TENANTS[TENANT]['community_name']}} { 
            from {{TENANTS[TENANT]['community_name']}};
            then accept;
        }
        {%endfor%}
        {%- for VNI in VNIS %}term  {{VNIS[VNI]['community_name']}} { 
            from {{VNIS[VNI]['community_name']}};
            then accept;
        }
        {%endfor%}
        then reject;
    }
    policy-statement bgp-ecmp {
        then {
            load-balance per-packet;
        }
    }
    policy-statement bgp-underlay-in {
        then accept;
    }
    policy-statement bgp-underlay-out {
        term LOOPBACK {
            from {
                route-filter {{loopback_supernet}} longer;
            }
            then accept;
        }
        term IP_FABRIC_SUPERNET {
            from {
                route-filter {{ip_fabric_supernet}} longer;
            }
            then accept;
        }
        then reject;
    }
    community commEsi members {{target_esi}};
    {% for TENANT in TENANTS %}community {{TENANTS[TENANT]['community_name']}} members {{TENANTS[TENANT]['target']}};
    {%endfor%}
    {%- for VNI in VNIS %}community {{VNIS[VNI]['community_name']}} members {{VNIS[VNI]['target']}};
    {%endfor%}
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{loopback}}:1;
    vrf-import LEAF-IN;
    vrf-target {{target_esi}};
}
vlans {
    {%- for VNI in VNIS %}
    bd{{VNI}} {
        description "tenant 1 - Bridge Domain for vlan {{VNIS[VNI]['vlan']}}";
        vlan-id {{VNIS[VNI]['vlan']}};
        vxlan {
            vni {{VNI}};
            ingress-node-replication;
        }
    }{%endfor%}
}
